
    /* Portfolio css */    
        @font-face {
    font-family: brandon_bold;
    src: url(fonts/Brandon_bld.otf);
}
@font-face { 
    font-family: brandon_bold_it;
    src: url(fonts/Brandon_bld_it.otf);
}
@font-face {
    font-family: brandon_blk;
    src: url(fonts/Brandon_blk.otf);
}
@font-face {
    font-family: brandon_blk_it;
    src: url(fonts/Brandon_blk_it.otf);
}
@font-face {
    font-family: brandon_light;
    src: url(fonts/Brandon_light.otf);
}
@font-face {
    font-family: brandon_light_it;
    src: url(fonts/Brandon_light_it.otf);
}
@font-face {
    font-family: brandon_med;
    src: url(fonts/Brandon_med.otf);
}
@font-face {
    font-family: brandon_med_it;
    src: url(fonts/Brandon_med_it.otf);
}
@font-face {
    font-family: brandon_reg;
    src: url(fonts/Brandon_reg.otf);
}
@font-face {
    font-family: brandon_reg_it;
    src: url(fonts/Brandon_reg_it.otf);
}
@font-face {
    font-family: brandon_thin;
    src: url(fonts/Brandon_thin.otf);
}
@font-face {
    font-family: brandon_thin_it;
    src: url(fonts/Brandon_thin_it.otf);
}

        body
        {
            background-image: url("images/background.jpg");
            background-repeat: no-repeat;
            background-attachment: attached;
            background-size: 100%;
            background-color:black;
            width:100%;
            height:900px;
            color:white;
            font-family: brandon_bold;

        }
        
        p
        {
            text-indent: 25px;
        }
        #main

        {
            background-size: 100%;
            height: 2200px;
            background-color: black;
            background: transparent;
        }


       .main {
            
            height:900px;

            
            overflow: hidden;

        }
        
        header
        {
            height: 900px;
           
        }

        
        footer


        #sticky.stick 
        {
        position: fixed;
        width: 100%;
        height: 10px;
        z-index: 999;
        margin: 0 auto;
        border-radius: 0 0 0.5em 0.5em;
        top:-230px;
        }
        #stick-anchor{
            margin-top: 10px;
        }
        
/*WRAPPER*/
.wrapper {
  position: absolute;
  margin: 0px auto;
  width: 100%;
    
}

/*WHITE OVAL*/
.oval{
  border-radius: 60%;
  position: relative;
  margin: 0 auto;
  margin-top: -45px;
  width:90%;
  height: 65px;
  box-shadow: 0 0 30px rgb(0,20, 35) inset;
  z-index: -1;
  background: black;
  opacity: 0.5;

}

/*..................................BEGIN CIRCLE ANIMATION..............................*/
/*MAIN CIRCLE*/
.circle {
  position: relative;
  margin: 0 auto;
  width: 200px;
  height: 200px;
  margin-top: -260px;
  border-radius: 50%;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease
  -ms-transition: all 0.9s ease
  -o-transition: all 0.9s ease
  transition: all 0.9s ease
}
.menu{
  position: relative;
  margin: 0 auto;
  margin-top: 230px;
  width: 100%;
  text-align: center;

}
.menu a {
  margin-right: -4px;
  padding: 10px 30px;
  width: 50px;
  text-decoration: none;
  font: 15px/25px brandon_blk, Arial, sans-serif;
}
 
.menu a:hover {

}
.menu .one{
  color: rgb(72,190,155);
  font-weight: bold;
  font-size: 1.2em;
}
.menu .two{
  color: rgb(176,31,36);
  font-weight: bold;
  font-size: 1.2em;
}
.menu .three{
  color: rgb(27,81,105);
  font-weight: bold;
  font-size: 1.2em;
}

.menu .four{
  color: rgb(249,178,24);
    font-weight: bold;
  font-size: 1.2em;
}
.menu .five{
  color: rgb(181,185,188);
  font-weight: bold;
  font-size: 1.2em;
}
.menu .six{
  color: rgb(238,95,39);
  font-weight: bold;
  font-size: 1.2em;

}

/*LITTLE CIRCLES*/
.circle li {
  position: absolute;
  width: 35px;
  height: 35px;
   list-style: none;
  /*border-radius: 50%;
  background: white;
  list-style: none;
  text-align: center;
  font: 20px/50px Helvetica, Arial, sans-serif;*/
}

/*SUN*/
.sun{
  top: 80px;
  position: relative;
}

.circle li:nth-child(1) {

  left: 80px;
}
 
.circle li:nth-child(2) {
  top: 40px;
  left: 154px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
 
.circle li:nth-child(3) {
  top: 125;
  left: 154;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}
 
.circle li:nth-child(4) {
  top: 165px;
  left: 80px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.circle li:nth-child(5) {
  top: 125px;
  left: 12px;
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg);
}
.circle li:nth-child(6) {
  top: 40px;
  left: 12px;
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg);
}
.menu > .one:hover ~ .circle {

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
 
.menu > .two:hover ~ .circle {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
 
.menu > .three:hover ~ .circle {
  -webkit-transform: rotate(-120deg);
  -moz-transform: rotate(-120deg);
  -ms-transform: rotate(-120deg);
  -o-transform: rotate(-120deg);
  transform: rotate(-120deg);
}
 
.menu >  .four:hover ~ .circle {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  }
  .menu > .five:hover ~ .circle {
  -webkit-transform: rotate(-240deg);
  -moz-transform: rotate(-240deg);
  -ms-transform: rotate(-240deg);
  -o-transform: rotate(-240deg);
  transform: rotate(-240deg);
  }
   .menu > .six:hover ~ .circle {
  -webkit-transform: rotate(-300deg);
  -moz-transform: rotate(-300deg);
  -ms-transform: rotate(-300deg);
  -o-transform: rotate(-300deg);
  transform: rotate(-300deg);

}
.menu > .one:hover ~ .circle .line1{
  -webkit-transform: scale(1.4,1.4);
  -moz-transform: scale(1.4,1.4);
  -ms-transform:scale(1.4,1.4);
  -o-transform: scale(1.4,1.4);
 transform: scale(1.4,1.4);
}

.menu > .two:hover ~ .circle .line2{
webkit-transform: rotate(60deg) scale(1.4,1.4);
  -moz-transform: rotate(60deg) scale(1.4,1.4);
  -ms-transform: rotate(60deg) scale(1.4,1.4);
  -o-transform:rotate(60deg) scale(1.4,1.4);
  transform: rotate(60deg) scale(1.4,1.4);
}

.menu > .three:hover ~ .circle .line3{
webkit-transform: rotate(120deg) scale(1.4,1.4);
  -moz-transform: rotate(120deg) scale(1.4,1.4);
  -ms-transform: rotate(120deg) scale(1.4,1.4);
  -o-transform:rotate(120deg) scale(1.4,1.4);
  transform: rotate(120deg) scale(1.4,1.4);
}
.menu > .four:hover ~ .circle .line4{
webkit-transform: rotate(180deg) scale(1.4,1.4);
  -moz-transform: rotate(180deg) scale(1.4,1.4);
  -ms-transform:rotate(180deg) scale(1.4,1.4);
  -o-transform: rotate(180deg) scale(1.4,1.4);
  transform:rotate(180deg) scale(1.4,1.4);
}
.menu > .five:hover ~ .circle .line5{
webkit-transform: rotate(240deg) scale(1.4,1.4);
  -moz-transform: rotate(240deg) scale(1.4,1.4);
  -ms-transform: rotate(240deg) scale(1.4,1.4);
  -o-transform:  rotate(240deg) scale(1.4,1.4);
  transform: rotate(240deg) scale(1.4,1.4);
}

.menu > .six:hover ~ .circle .line6{
webkit-transform: rotate(300deg) scale(1.4,1.4);
  -moz-transform: rotate(300deg) scale(1.4,1.4);
  -ms-transform:rotate(300deg) scale(1.4,1.4);
  -o-transform: rotate(300deg) scale(1.4,1.4);
  transform: rotate(300deg) scale(1.4,1.4);
}


/*.................BEGIN BLURS.............*/
.blur1
{
  position: absolute;
  z-index: -1;
  display: none;
  top: -20px;
  left: -20px;
}

.blur2
{
  position: absolute;
  z-index: -1;
  display: none;
  top: -20px;
  left: -20px;
}
.blur3
{
  position: absolute;
  z-index: -1;
  display: none;
  top: -20px;
  left: -20px;
}
.blur4
{
  position: absolute;
  z-index: -1;
  display: none;
  top: -20px;
  left: -20px;
}
.blur5
{
  position: absolute;
  z-index: -1;
  display: none;
  top: -20px;
  left: -20px;
}
.blur6
{
  position: absolute;
  z-index: -1;
  display: none;
  top: -20px;
  left: -20px;
}


.menu > .one:hover ~ .circle .line1 .blur1
{
  display: block;
}
.menu > .two:hover ~ .circle .line2 .blur2
{
  display: block;
}
.menu > .three:hover ~ .circle .line3 .blur3
{
  display: block;
}
.menu > .four:hover ~ .circle .line4 .blur4
{
  display: block;
}
.menu > .five:hover ~ .circle .line5 .blur5
{
  display: block;
}
.menu > .six:hover ~ .circle .line6 .blur6
{
  display: block;
}
/*.................END BLURS................*/

/*............................................END CIRCLE ANIMATION ...............................*/


        .moon 
        {
            position: absolute;
            background-image: url("images/3.png");
            background-repeat: no-repeat;
            background-size: 100%;
            width:600px;
            height:600px;
            margin-top: 240px;
        }
/*Start of count down timer*/

#holder {
	position: relative;   /* leave as "relative" to keep timer centered on 
				 your page, or change to "absolute" then change
				 the values of the "top" and "left" properties to 
				 position the timer */
	top: 10px;            /* change to position the timer; must also change
				 position to "absolute" above */
	left: 0px;  	      /* change to position the timer; must also change
				 position to "absolute" above */
	width: 270px;
	height: 60px;
	border: none;
	margin: 0px auto;
    margin-top: 150px;
}

#title, #note {

	color: lime;	      /* this determines the color of the DAYS, HRS, MIN, 
				 SEC labels under the timer and the color of the 
				 note that displays after reaching the target date
				 and time; if using the blue digital images,
				 change to #52C6FF; for the red images,
				 change to #FF6666; for the white images,
				 change to #BBBBBB; for the yellow images,
				 change to #FFFF00 */
}
.title
{
     font-family: brandon_bold;
}

#note {
	position: relative;
	top: 6px;
	height: 20px;
	width: 260px;
	margin: 0 auto;
	padding: 0px;
	text-align: center; 
  font-family: brandon_bold; 
	font-size: 18px;
   /* options are normal or italic */
	z-index: 1;
}

.title {
	border: none;
	padding: 0px;
	margin: 0px;
	width: 30px;
	text-align: center;
    font-family: brandon_bold;
	font-size: 10px;
	font-weight: normal;    /* options are normal, bold, bolder, lighter */
	background-color: transparent; 
}

#timer {
	position: relative; 
	top: 0px; 
	left: 0px; 
	margin: 5px auto; 
	text-align: center; 
	width: 260px;
	height: 26px;
	border: none;
	padding: 10px 5px 20px 5px; 
	background: #000000;      /* may change to another color, or to "transparent" */
	border-radius: 20px;
	box-shadow: 0 0 10px #000000;  /* change to "none" if you don't want a shadow */
}

/*....................................GALAXY CSS .......................*/

.planets{
  width: 50px;
  height: 50px;
  position: relative;
}

.mainContent {
    position: absolute;
    margin-top: 280px;
    right:250px;
    border:solid black 3px;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    color:white;
    overflow: hidden;

}

.dimmed{
opacity:0.6;
filter:alpha(opacity=60);
-moz-opacity:0.6;
background-color:black;
width:50000px;
height:50000px;
position:absolute;
top:0px;
left:0px;
z-index:-1;

}

#galaxyBackgroundContainer{
  height: 100%;
  width: 100%;
  background-color: #001423;
  background-size: 100%;

}
.galaxyBackground{
  height: 100%;
  width: 100%;
  background-image: url("images/galaxyBackground.jpg");
background-repeat: no-repeat;
background-attachment: scroll;
background-size: 100%;
}

.content{
position:relative;
font-family: brandon_med;


}

.galaxy_1 {

    height: 100%;

    overflow: hidden;
    position: relative;
    width:100%;
    margin:0px auto;
    top: 50px;
}
/*....................................GALAXY CSS .......................*/

.planets{
  width: 160px;
  height: 116px;
  position: relative;
}

#planet1
{
  top: 200px;
  left: 500px;
  position: absolute;
}
 #planet1Link
{
  top: -225px;
  width: 1px;
  position: absolute;
}

#webNameHoverGraphicDesign {
    top: 115px;
    left: 500px;
    position: absolute;
    display: none;
  color: rgb(72,190,155);
      font-size: 2em;
      z-index: 2;
    
}
#planet1Hover:hover ~ #webNameHoverGraphicDesign{
    display: block;
  color: rgb(72,190,155);
    font-size: 2em;
    z-index: 2;
}
#planet2
{
  top: 550px;
  left: 1105px;
  position: absolute;
}
 #planet2Link
{
  top: -225px;
  width: 1px;
  position: absolute;
}
#webNameHoverVideoProduction {
    top: 475px;
    left: 1105px;
    position: absolute;
    display: none;
    color: rgb(176,31,36);
    font-size: 2em;
}
#planet2Hover:hover ~ #webNameHoverVideoProduction {
    display: block;
    color: rgb(176,31,36);
    font-size: 2em;
}
#planet3{
  top: 1000px;
  left: 725px;
  position: absolute;
}
 #planet3Link
{
  top:  -200px;
  width: 1px;
  position: absolute;
}
#webNameHoverAnimation {
    top: 920px;
    left: 725px;
    position: absolute;
    display: none;
    color: rgb(27,81,105);
    font-size: 2em;
}
#planet3Hover:hover ~ #webNameHoverAnimation {
    display: block;
    color: rgb(27,81,105);
    font-size: 2em;
}
#planet4{
  top: 1450px;
  left: 155px;
  position: absolute;
 }

 #planet4Link
{
  top: 1200px;
  width: 1px;
  position: absolute;
}

#webNameHoverPhotography {
    top: 1370px;
    left: 155px;
    position: absolute;
    display: none;
       color: rgb(249,178,24);
    font-size: 2em;
}
#planet4Hover:hover ~ #webNameHoverPhotography {
    display: block;
      color: rgb(249,178,24);
      font-size: 2em;
}
#planet5{
  top: 1900px;
  left: 820px;
  position: absolute;
 }
  #planet5Link
{
  top:  1400px;
  width: 1px;
  position: absolute;
}

#webNameHoverWebDevelopment {
    top: 1820px;
    left: 760px;
    position: absolute;
    display: none;
    color: rgb(181,185,188);
    font-size: 2em;
}
#planet5Hover:hover ~ #webNameHoverWebDevelopment {
    display: block;
      color: rgb(181,185,188);
      font-size: 2em;
}


#webName {
    top: 100px;
    left: 450px;
    position: relative;
}

.footerContent {
    position: absolute;
    margin: 5%;
    width: 50%;
    border:solid black 3px;
    font-size: 20px;
    border-radius: 20px;
    color:white;
    overflow: hidden;
}

@keyframes bobble {
    0% {
        transform: translate3d(70px, 50px, 0px);
        animation-timing-function: ease-in;
    }
    50% {
        transform: translate3d(70px, 60px, 0px);
        animation-timing-function: ease-out;
    }
    100% {
        transform: translate3d(70px, 50px, 0px);
    }
}

.ship {
    position: absolute;
    right:30px;
    margin-top:-50px;
}

#shipAnimation {
    animation: bobble 2s infinite;
    
}

/*............................Program and student pop ups...............................*/

.studentWindow
{
	display:none;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100% 100%;
    border:1px solid #000;
	background-color: black;
    color:white;
	position: fixed;
	top: 15%;
	left: 15%;
	width: 70%;
	height: 70%;
	z-index:1003;
	overflow: auto;
}

.programWindow
{
	display:none;
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 100% 100%;
	text-align:center;
    border:1px solid #000;
	background-color: black;
	position: fixed;
	top: 15%;
	left: 15%;
	width: 70%;
	height: 70%;
	z-index:1002;
	overflow: auto;
}

.studentList
{
	display: inline-block;
	text-align:center;
	align-content:center;
	border: solid 1px blue;
	color: blue;
	width: auto;
	margin:10px;
	background-color:#AAAAAA;
}

.black_overlay
{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}


.studentTable, table, tr, th, td
{
	border: solid black 1px;
	color: white;
    background-color:darkslategray;
    
}

/*..................................SPACE IMAGES.........................*/
#banner1
{ 
  top: 0px;
  
  width: 800px;
  font-family: brandon_bold;
  font-size: 1.3em;
  position: absolute;
   -webkit-animation-name: bannerFly; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 22s;
  -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
  animation-name: bannerFly;
  animation-duration: 22s;
  -webkit-animation-iteration-count: infinite; /* Chrome, Safari, Opera */
  animation-iteration-count: infinite;
  animation-timing-function: linear;

}
#rocket1
{
  top: -27px;
  left: -250px;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
  position: absolute;
  display: inline;
}

@-webkit-keyframes bannerFly {
    0%   {left:1900px; }

    100% {left:-800px;}
}